<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<title>Food Spinner</title>
		<!-- stop from being cached  -->
		<meta
			http-equiv="Cache-Control"
			content="no-cache, no-store, must-revalidate,width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<!-- include Popper.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

		<!-- include Bootstrap JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<div class="container">
			<h1 class="text-center">Food Roulette</h1>

			<!-- Restaurant picker dropdown box -->
			<div class="dropdown" id="restaurant-picker">
				<button
					class="btn btn-primary dropdown-toggle"
					type="button"
					data-toggle="dropdown"
				>
					Select Restaurant
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" id="restaurant-dropdown">
					{% for restaurant in restaurants %}
					<li><a href="#">{{ restaurant }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class="wheel-container text-center">
				<img src="/static/wheel.png" class="wheel" id="wheel" />
			</div>
			<div class="text-center">
				<button class="btn btn-primary" id="spin-button">Spin</button>
			</div>
			<div id="result" class="mt-4">
				<h3>Result:</h3>
				<p id="food-name"></p>
				<p id="description"></p>
				<p id="price"></p>
				<p id="restaurant-name"></p>
			</div>
		</div>
		<script src="/static/scripts.js"></script>
	</body>
</html>
